body {
    background-color: rgb(78, 85, 66);
    position: relative;
    min-height: 100vh;
}

.profile-div {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 400px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    border: 2px solid red;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.profile-card {
    background-color: black;
    color: whitesmoke;
}

em {
    color: rgb(117, 115, 115);
}

.profile-list {
    background-color: black;
    color: whitesmoke;
}

.profile-img {
    border-radius: 50%;
}

.navbar-css {
    margin-left: 440px;
    /* Same as the width of the sidebar */
    margin-top: 20px;
    padding: 10px;
    position: fixed;
    width: 100%;
    border: 2px solid red;
}
.repo-card, .project-card
{
    margin:10px;    
}
.listRep {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.projectsDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.bg-light {
    background-color: black !important;

}

.nav-link-color {
    color: whitesmoke !important;
}

.nav-link-color-active {
    text-decoration: underline
}

.container-container {
    margin-left: 430px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards-container {
    margin: 110px 50px 15px 0px;
    background-color: black;
    border: solid 2px red;
    padding: 10px;
}

.forms-container {
    margin: 15px 50px 15px 0px;
    background-color: black;
    border: solid 2px red;
    padding: 10px;
}

h4 {
    color: lightgray
}

.footer {
    margin-left: 440px;
    background-color: black;
    border: solid 2px red;
    color: white;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
}

ul.nav {
    align-items: baseline;
}